h1 {
        color: rgb(31, 68, 43);
        font-family: tahoma;
        font-size: 300%;
        }
h2{
        color: rgb(31, 68, 43);
        font-family: tahoma;
        font-size: 200%;
        }
nav {
        font-family: tahoma;
        font-size: 150%;
        }